@import "../../../common/colors.scss";

.slider__arrow-button {
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  background-color: $background-slider;
  position: absolute;
  top: 600px;
  border-left: 0;
  z-index: 15;
  cursor:pointer;
  outline: none;
}

.slider__arrow-button.slider__arrow-button_right {
  border-right: 55px solid hsl(58, 74%, 53%);
  right: 0;
  border-left: 0;

  &:hover {
    border-right: 55px solid hsl(58, 74%, 40%);
  }
}

.slider__arrow-button.slider__arrow-button_left {
  border-left: 55px solid hsl(58, 74%, 53%);
  left: 0;
  border-right: 0;

  &:hover {
    border-left: 55px solid hsl(58, 74%, 40%);
  }
}

.slider__arrow-right-img {
  position: absolute;
  left: 34px;
  bottom: -15px;
  height: 32px;
  transform: scaleX(-0.7);
}

.slider__arrow-left-img {
  position: absolute;
  right: 34px;
  bottom: -15px;
  height: 32px;
  transform: scaleX(0.7);
}

@media only screen and (max-width:720px){
  .slider__arrow-button{
    display: none;
  }
}