.slider__dots {
  text-align:center;
  padding-top:30px;
  padding-bottom:10px;
  background-color: #007EB7;
}

.slider__dot{
  background: url('../img/Ellipse.png') no-repeat;
  cursor:pointer;
  min-width: 10px;
  max-width: 10px;
  display: inline-block;
  margin-right:10px;
}

.slider__dot.slider__dot_active{
  background-image: url('../img/Ellipse_active.png');
}