@import 'arrows';
@import 'dots';
@import "../../../common/colors.scss";

.slider__container,
.slider__element {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.slider__container {
  width: 9999px;

}
.slider__element {
  list-style-type: none;
  float: left;
  width:100vw;
  background-color:$background-body;
}

.slider__items{
  overflow-x:hidden;
  overflow-y: visible;
  background-color:$background-slider;
}