@import "../../common/colors.scss";

.top-menu{
  width:100%;
  background: $background-slider;
  height: 50px;
  line-height: 50px;
  color:white;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}


.top-menu__image{
  position: absolute;
  top: 50%;
  right: 20px;
}

@media only screen and (min-width:720px){
  .top-menu{
    display: none;
  }
}
