.testimonial__citation-text {
  width: 50%;
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
}

.testimonial__citation-text_main{
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
}

.testimonial__citation-main-paragraph{
  margin-top: 0;
}

.testimonial__citation-text_auxiliary{
  font-size: 15px;
  display: none;
}

.testimonial__citation-auxiliary-paragraph-0 {
  margin-top: 0;
}

@media only screen and (max-width:720px){
  .testimonial__citation-text_auxiliary{
    display: block !important;
  }

  .testimonial__citation-text{
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align:left;
  }

  .testimonial__citation-main-paragraph{
    font-size: 20px;
  }
}