@import "../../../common/colors.scss";

.testimonial__author {
  position: relative;
  height: 150px;
  margin-top: 40px;
  background-color: $background-body;
}

.testimonial__face {
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 10;
}

.testimonial__stroke {
  position: absolute;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -9px;
}

.testimonial__background-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 8;
  width: 100%;
}

.testimonial__background-direct {
  display:none;
}

@media only screen and (max-width:1200px){
  .testimonial__background-shape{
    display: none;
  }

  .testimonial__background-direct {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    background-color: #007EB7;
    width: 100%;
    height: 65px;
    display: block;
  }
}