@import "face";
@import "citation";

.testimonial{
  background-color: #007EB7;
}

.testimonial__expand-auxiliary {
  width: 55px;
  height: 38px;
  background: #007EB8 url("../img/plus_btn.png") no-repeat;
  border: none;
  margin: 30px auto;
  display: block;
  cursor:pointer;
  outline: none;
}

.testimonial__expand-auxiliary_plus {
  background-image: url("../img/plus_btn.png");
}

.testimonial__expand-auxiliary_minus {
  //background-image: url("../img/minus_btn.png");
  display: none;
}

.testimonial__quote {
  background-color: #007EB8;
  padding-top: 20px;
}

.testimonial__left-quote {
  width: 25%;
  display: inline-block;
  text-align: right;
}

.testimonial__left-quote-img {
  display: inline-block;
  vertical-align: top;
}

.testimonial__empty-space {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.testimonial__right-quote-img {
  display: inline-block;
  vertical-align: top;
}

.testimonial__right-quote {
  width: 20%;
  display: inline-block;
  text-align: left;
}

.testimonial__author-name {
  width: 50%;
  font-size: 11px;
  margin: 0 auto;
  display: block;
  color: white;
  text-align: center;
}

@media only screen and (max-width:720px){

  .testimonial__expand-auxiliary{
    display: none;
  }

  .testimonial__left-quote {
    width: 25%;
    display: inline-block;
    text-align: left;
    padding-left:20px;
  }

  .testimonial__right-quote {
    width: 25%;
    display: inline-block;
    text-align: right;
    padding-right:20px;
  }

  .testimonial__author-name{
    text-align: left;
    margin:0;
    padding-left:20px;
    width:100%
  }

  .testimonial__author-name-dash{
    display: none;
    padding-left:20px;
  }
}