/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import "./colors.scss";

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-body;
    margin: 0;
}

*{
    box-sizing: border-box;
}


.experience {
    color: white;
    text-align: left;
}

.experience__head {
    margin-top: 90px;
    margin-bottom: 20px;
    position: relative;
    font-size: 46px;
    text-transform: uppercase;
}

.experience__first-level {
    width: 60%;
    font-size: 25px;
    margin: 0 auto;
}

.experience__second-level {
    width: 60%;
    font-size: 15px;
    margin: 35px auto 20px;
}

@media only screen and (max-width:720px){
    .experience {
        color: white;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }
    .experience__head{
        margin-top: 50px;
        font-size:16px;
    }

    .experience__head_big{
        display: none;
    }

    .experience__first-level {
        width: 100%;
        font-size: 15px;
    }

    .experience__second-level {
        width: 100%;
        font-size: 13px;
    }
}

@media only screen and (min-width:720px){
    .experience {
        color: white;
        text-align: center;
        padding-left: 20px;
    }
    .experience__head_small{
        display: none;
    }

    .experience__second-level {
        width: 60%;
        margin: 35px auto 25px;
    }
}



@media(max-width: 1200px) {
    .background-shape {
        display: none;
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
